.Contact {
    height: calc(50% - 3rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}

#CommentContainer {
    position: relative;
    height: 50%;
    width: 100%; 
    overflow: hidden;
}

.carousel {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* comment container */

.commentUI {
    position: relative;
    height: 95%;
    border-radius: 1rem;
    max-width: 100%;
    margin-right: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* comment contents */

.commentGrid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    max-height: 100%;
    width: 90%;
}


.commentImg {
    height: 40px;
    width: 40px;
    border-radius: 15rem;
    object-fit: cover;
}

.commentText {
    background-color: transparent;
}

.topSection {
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.commentText h3 {
    font: 1rem 'Anton', sans-serif;
    font-weight: 500;
}

.comment {
    font: 0.9rem 'Roboto', sans-serif;
    font-weight: 300;
    text-overflow: clip;
    text-wrap: nowrap;
    overflow: hidden;
    padding: 2;
    justify-self: flex-start;
    align-self: flex-start;
    text-align: left;
}

.Footer {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-self: flex-end;
    align-self: flex-end;
    background-color: transparent;
    color: azure;
}


.footerBody {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: flex-end;
    align-self: flex-end;
}

.footerHead {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footerLinks {
    height: 80%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.footerLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;
}

.footerLink a {
    text-decoration: none;
    font-weight: 1000;
    font-size: 1rem;
    background: -webkit-linear-gradient( 45deg,rgb(146, 235, 245), rgb(4, 115, 212));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footerLink:hover {
    filter: drop-shadow(20rem 42rem 10rem rgba(255, 255, 255, 0.927));
    text-shadow: #88cceedd 5px 5px 15px;
}

.footerLink:hover svg{
    color: rgb(54, 164, 219);
    font-size: 1.7rem;
    transform: translate(0, -0.5rem);
    transition: all 50ms ease-in;
}

.footerLink svg {
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    transition: all 350ms ease-in
}

.copyright {
    background-color: rgba(22, 28, 35, 0.668);
    color: rgb(255, 255, 255);
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    height: 17%;
    position: relative;
    bottom: 0;
    justify-self: flex-end;
  }

  .Socials {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    flex-direction: row;
    justify-content: center;
  }
  
  .Socials svg {
    padding: 4px;
    fill: bisque;
    scale: 1.4;
  }
  
  
  .Socials svg:hover {
    scale: 1.9;
    background: #ececec06;
    background-blend-mode: color-dodge;
    border-radius: 10%;
    transition: all 0.2 ease-in-out;
    filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.5));
  }



.textInp {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    padding: 1rem;
    font: 1rem 'Roboto', sans-serif;
    font-weight: 300;
    background-color: rgba(22, 28, 35, 0.668);
    color: rgb(255, 255, 255);
    resize: none;
    overflow: auto;
    text-align: left;
    text-overflow: clip;
    text-wrap: nowrap;
    overflow: hidden;
    padding: 2;
    justify-self: flex-start;
    align-self: flex-start;
    text-align: left;
    margin-bottom: 3px;
    margin-left: 3px;
}

.textInp:hover {
    background-color: rgba(127, 255, 212, 0.473);
}

.textInp:hover::placeholder{
    color: aliceblue;
}

.text2Inp:hover {
    background-color: rgba(127, 255, 212, 0.473);
}

.text2Inp:hover::placeholder{
    color: aliceblue;
}

.text2Inp {
    height: 100%;
    width: 60%;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    padding: 1rem;
    font: 1rem 'Roboto', sans-serif;
    font-weight: 300;
    background-color: rgba(22, 28, 35, 0.668);
    color: rgb(255, 255, 255);
    resize: none;
    overflow: auto;
    text-align: left;
    text-overflow: clip;
    text-wrap: nowrap;
    overflow: hidden;
    padding: 2;
    margin-right: 6px;
    justify-self: flex-start;
    align-self: flex-start;
    text-align: left;
}

#commentBox {
    border: 2px solid rgb(138, 43, 227);
    border-radius: 1rem;
    padding: 1rem;
    font: 1rem 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    z-index: 5;
    background-color: rgba(22, 28, 35, 0.668);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

}

#commentBox div {
    justify-self: space-around;
}

#commentBox div span {
    font: 0.8rem 'Roboto', sans-serif;
    color: rgb(194, 104, 39);
    text-align: center;
    align-self: center;
}

#commentBox:hover {
    animation: borderAnimation 1s infinite;
}

@keyframes borderAnimation {
    0% {
        border-color: rgba(230, 190, 233, 1.0);
     }
    50% {
        border-color: rgba(172, 99, 228, 1.0);
    }
    100% {
        border-color: rgb(231, 223, 231);
    }
    
}

.btnInp {
    padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(184, 184, 184);
  background: rgb(58, 97, 77);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 0.4rem;
  transition: all 2s ease-out;
}

.btnInp:hover {
    color: aliceblue;
    background-color: rgba(127, 255, 212, 0.473);
    transform: scale(1.1);
    transition: all 130ms ease-in;
}

@media (pointer: coarse)  {
	/* mobile device */
    .commentText h3 {
        font-size: var(--font-p-normal);
    }
    .comment {
        font-size: var(--font-p-normal);
    }
    .footerLink a {
        font-size: var(--font-p-normal);
    }
    .footerLink svg{
        font-size: var(--font-p-normal);
    }
    .textInp {
        font-size: var(--font-p-normal);
    }
    .text2Inp {
        font-size: var(--font-p-normal);
    }
    #Contact > div { flex: 1;}

    #commentBoxContainer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #commentBox {
        width: 70%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    ::placeholder {
        font-size: var(--font-p-normal);
    }

    .btnInp {
        font-size: var(--font-p-normal);
    }

    #commentBox div span {
        width: 100%;
        font-size: var(--font-p-small);
    }

    #commentBox > div {
        justify-content: space-evenly;
    }

    .Socials svg {
        font-size: var(--font-p-normal);
    }

    .copyright {
        font-size: var(--font-p-small);
    }
}