.Context {
    position: relative;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    display: flex;
    color: white;
    flex-direction: column;
    padding-top: 2rem;
    height: calc(100% - 2rem);
}

.panel {
  scroll-snap-align: start;
}


.BottomSection {
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

.child{
  flex: 2;
}


.BottomSection_body::-webkit-scrollbar {
  width: 0.1rem;
  background-color: #6a6a6a00;
  color: #6a6a6a00;
}

.BottomSection_body::-webkit-scrollbar-track {
  background-color: '#183D3D';
}

.BottomSection_body::-webkit-scrollbar-thumb {
  background-color: #818181aa;
}

.BottomSection_heading {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.BottomSection_heading > p {
  text-decoration: none;
  font-weight: 900;
}

.BottomSection_heading p {
  color: rgba(255, 255, 255, 0.961);
}

.BottomSection_body {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.content {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  transition: 300ms all ease-in-out;
}

.content p {
  color: #c7c7c7;
  margin: 0;
  padding: 0;
  padding-block: 2%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-overflow: ellipsis;
}

.content:hover p{
  color: blueviolet;
}

.vr {
  height: 90%;
  width: 1px;
  background-color: white;
  margin-inline: 1%;
  margin-top: 1%;
}

.TopProjects {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;

}
.TopProjectsTitle {
  align-self: flex-start;
  margin-left: 5%;
  height: 5%;
}

.carosol_Wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  justify-self: center;
  align-self: flex-end;
  display: flex;
}

/*  */
.ItemContainer {
  position: relative;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  align-content: center;
  height: 99%;
}

/*  #1 of ItemContainer */

.ItemHeader {
  width: 100%;
  height: 25%;
  margin-bottom: 5%;
  position: relative;
  top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  user-select: none;
  cursor: default;
}

.ItemHeader h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0;
  padding-inline: 5%;
}


/*  #2 of ItemContainer */
.ItemImage {
  margin-inline: auto;
  height: 60%;
  width: 90%;
  cursor: pointer;
  margin-block: 5%;
  box-shadow: #6a6a6a 0px 0px 0px 0px;
}

.ItemContainer:hover .ItemImage {
  transform: scale(1.05);
  transition: 300ms all ease-in-out;
  box-shadow: #d6d6d6 0px 0px 15px 0px;
}

.ItemImage img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.LoadingImgSkeleton {
  height: 70%;
  width: 95%;
  border-radius: 10px;
  background-color: #6a6a6a;
  animation: loading 1s infinite ease-in-out;
  margin-block: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.LoadingImgSkeletontxt {
  height: 20%;
  margin-block: 5%;
  width: 95%;
  border-radius: 15px;
  background-color: #6a6a6a;
  animation: loading 0.5s infinite ease-in-out;
}

.LoadingImgSkeletonItemContainer {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: wait;
}


.LoadingImgSkeleton svg {
  margin: auto;
  padding: auto;
  justify-self: center;
  align-self: center;
}

.TextSkeleton {
  width: 60%;
  height: 1rem;
  padding-inline: 5%;
  border-radius: 15px 0px 15px 0px;
  margin-bottom: 5%;
  animation: loading 700ms infinite ease-in-out;
}

@keyframes loading {
  0% {
    background-color: #6a6a6a;
  }
  50% {
    background-color: #8a8a8a;
  }
  100% {
    background-color: #6a6a6a;
  }
}


.Arrow {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  cursor: pointer;
  background: rgb(111,111,111);
  background: radial-gradient(circle,rgba(0, 0, 0, 0.4) 0%, rgba(30,30,30,0.5) 100%);
  transition: 800ms all ease-in-out;
}

.Arrow:hover {
  background: rgb(31, 31, 31);
  background: radial-gradient(circle, rgba(71,71,71,0.7) 0%, rgba(30,30,30,0.5) 100%);
}

@media (pointer: coarse)  {
	/* mobile device */
  .ItemContainer {
    position: relative;
    height: 98%;
    width: 100%;
    align-items: center;
    justify-items: center;
    align-content: center;
    cursor: pointer;
  }

  .carosol_Wrapper {
    height: calc(100vh - 4rem);
    width: 100%;
    position: relative;
    top: 0;
  }

  .carousel {
    height: 100%;
  }

  .ItemImage {
    height: 45%;
    width: 90%;
    margin-inline: auto;
    cursor: pointer;
  }

  .ItemImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .ItemHeader h2 {
    font-size: var(--font-p-medium);
  }

  .BottomSection_heading > p {
    font-size: var(--font-p-medium);}
  
  .content p {
    font-size: var(--font-p-small);
  }

  .BottomSection { flex-direction: column; align-items: center; overflow: scroll; height: 50%;}

  .TopProjectsTitle {
    align-self: flex-start;
    margin-left: 5%;
    height: 15%;
    font-size: var(--font-p-medium);
  }
}