.techPanel {
    padding-top: 2rem;
    height: calc(100vh - 2rem);
    overflow: hidden;
    bottom: 0;
    width: 100%;
}

.techHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    height: 20%;
    color: white;
    padding-top: 2%;
}

hr {
    width: 30%;
}

.techBody {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 80%;
}

.techRow {
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 2rem;
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

.techCol {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.1rem;
}

.techColContainer {
    align-items: center;
    justify-content: space-around;
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.3rem;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 10px;
}

.ColHead {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Quattrocento Sans', 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
}

.verticalLine {
    height: 90%;
    width: 1px;
    background-color: rgba(177, 171, 171, 0.723);
    margin-inline: 0.5rem;
    margin-top: 2%;
}

.techsContainerRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-inline: 2rem;
    width: 100%;
    margin-block: 1rem;
}

.techs {
    display: flex;
    height: 3rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;
    border-radius: 1rem;
    /* background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)); */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:0px solid rgba(135, 126, 126, 0);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin-inline: 0.5rem;
    margin-block: 0.5rem;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 70%;
    transition: 120ms all ease-in-out 0s; 
}

.techs h3 {
    margin-inline: 0.2rem;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(170, 170, 170);
    transition: 120ms all ease-in-out 0s; 
}

.techs:hover h3 {
    text-shadow: rgba(248, 248, 248, 0.7) 0.1rem 0.1rem 0.5rem;
    color: rgb(255, 255, 255);
}

.techs:hover {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(10px);
    transition-duration: .1s;
    border-color: transparent;
    transform: scale(1.02);
}

.techs svg {
    font-size: 1.4rem;
    color: rgb(213, 213, 213);
    filter: drop-shadow(0 0 0 rgba(255, 255, 255, 1));
    transition: 180ms all ease-in-out 0s; 
}

.techs:hover svg {
    transform: scale(1.2);
    filter: drop-shadow(0.1rem 0.1rem 0.2rem rgba(255, 255, 255, 1));
}

@media (pointer: coarse)  {
	/* mobile device */
    .techHeader {font-size: var(--font-p-large); height: 10%;}
    .techRow {font-size: var(--font-p-medium);}
    .ColHead span {font-size: var(--font-p-medium);}

    .verticalLine {
        display: none;
    }

    .techBody {
        flex-direction: column;
        height: 80%;
        justify-content: center;
        align-items: center;
    }

    .techCol {
        flex-wrap: nowrap;
    }

    .techColContainer {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .techs {
        width: 100%;
        gap: 5%;
    }

    .techs h3 {
        font-size: var(--font-p-normal);
        color: hsl(0, 0%, 95%);
    }

    hr {
        margin-top: 1rem;
        width: 100%;
    }

    .techs svg {
        font-size: var(--font-p-medium);
    }
}