@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Monoton&family=Quattrocento+Sans&display=swap');


/* font-family: 'Anton', sans-serif;
font-family: 'Bangers', cursive;
font-family: 'Monoton', cursive;
font-family: 'Quattrocento Sans', sans-serif; */

html,
body {
  margin: 0px;
  font-family: 'Quattrocento Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: auto;
  width: auto;
  background-color: whitesmoke;
  background: '#5C8374';

  overflow-x: hidden;
  overflow-y: hidden;
 
  --bg-image1: url('../../assets/Heropic.jpg');
  --bg-image2: url('../../assets/Heropic2.jpg');

  --bg-myself: url('../../assets/my_picture.png');

  --bg-loading: url('../../assets/loading.gif');

  --font-d-large: 3rem;
  --font-d-medium: 2rem;
  --font-d-small: 1rem;

  --font-p-large: 50pt;
  --font-p-medium: 40pt;
  --font-p-normal: 30pt;
  --font-p-small: 20pt;

  --darkest: #040D12;
  --dark: #183D3D;
  --light: #5C8374;
  --lightest: #93B1A6;
}


button {
  aspect-ratio: 85/45;
  height: 7vh;
  min-width: 45px;
  max-width: 85px;
  background-color: var(--light);
  border-radius: 6%;
  transition: all 125ms ease-in-out;
  text-align: center;
  border: 0em rgba(255, 255, 255, 0);
  color: var(--lightest);
}

button:hover {
  background-color: var(--lightest);
  color: var(--darkest);
  border: 2px solid rgb(48, 31, 31);
}



.App {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 100%;
  max-height: max-content;
  font-family: 'Quattrocento Sans', sans-serif;
  background-color: rgb(5, 2, 21);
}

.container {
  height: 100vh;
	overflow-y: auto;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  transition: 40ms ease-in-out;
  scroll-behavior: smooth;
  width: 100vw;
}

.container::-webkit-scrollbar {
  width: 0.5rem;
  background-color: rgba(236, 24, 24, 0);
}

.container::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.029);
}

.container::-webkit-scrollbar-thumb {
  background-color: rgba(90, 90, 90, 0.925);
  border-radius: 10rem;
}


.panel {
  scroll-snap-align: start;
  height: 100vh;
}


.Navbar{
  z-index: 12;
  height: 1.4rem;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 4rem;
  padding-inline: 2%;
  padding-block: 1%;
  width: max-content;
  max-width: 60%;
  min-width: 400px;
  gap: 1.2rem;
}

.Navbar a {
  color: rgb(255, 255, 255, 0.8);
  text-decoration: none;
  font-family: 'Quattrocento Sans', sans-serif;
  transition: all 125ms ease-in-out;
}

.Navbar a:hover {
  color: aliceblue;
  box-shadow: #ffffff 0px 1px 3px 0px;
}



Canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: rgb(5, 2, 21);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.loadingText {
  color: #ffffff;
  text-align: center;
}

.Hero {
  position: relative;
  width: 100%;
  transition: all 1s ease-in-out;
  display: flex;
  background: transparent;
  color: #ffffff;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
}

.Hero p {
  color: rgb(255, 255, 255);
  font-family: 'Quattrocento Sans', sans-serif;
}

.heroHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.heroHeader_mobile {
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  padding-block: 1%;
  height: 30%;
  align-items: baseline;
}

.heroHeader_mobile div {
  width: 50%;
}

.heroHeader_mobile > .dwBtn {
  max-width: fit-content;
}

.heroHeader div {
  margin-inline: 2%;
}

.HeroBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  padding-block: 1rem;
}

.HeroBody_desktop {
  flex-direction: row;
}

.HeroBody_mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.HeroBody > div {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img_container {
  height: 100%;
  width: 100%;
}

#image {
  aspect-ratio: 1/1;
  background: var(--bg-myself) no-repeat center center/cover;
  border: none;
  filter: contrast(0.9) brightness(1);
  z-index: 6;
  transition: 120ms ease-in-out;
  filter: drop-shadow(0 0 1rem rgba(255, 217, 220, 0.5));
}

#image:hover {
  filter: drop-shadow(0 0 0.75rem rgb(255, 250, 220));
}

.text {
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
  width: 80%;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
}

.title {
  font-family: sans-serif;
  width: 100%;
}

.description {
  font-family: sans-serif;
  border: #ffffffc6 solid;
  border-width: 0.2px 1px 1px 0.2px;
  border-radius: 0.4em;
  text-wrap: wrap;
  height: 4rem;width: 300px;
  margin-inline: 2%;
  padding: 2%;
  text-overflow:clip;
  overflow: hidden;
  box-shadow: #93B1A6 0px 0px 1px 0px;
  transition: all 600ms ease-in-out;
}

.description:hover {
  
  box-shadow: #93B1A6 0px 0px 103px 0px;
}


/*  */

.headText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: fit-content;
  gap: 1rem;
  transition: 120ms ease-in-out;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  text-decoration: none;

  /* font of spans */
  font-family: 'Monoton', sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

.headText:hover {
  text-shadow: 0px 0px 20px rgba(240, 236, 161, 0.841);
  background-color: none;
}


.headText > .span_1 {
  color: rgb(255, 255, 255);
}

.headText > .span_2 {
  color: rgb(46, 118, 212);
}


.dwBtn {
  padding: 1%;
  max-height: 40px;
  min-width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1.05rem;
  cursor: pointer;
}

.dwBtn p {
  font-family: sans-serif;
  font-weight: 500;
  color: rgba(183, 183, 183, 0.881);
}

.dwBtn:hover {
  background-color: rgba(255, 255, 255, 0.296);
  color: rgb(242, 242, 242);
  transition: 120ms ease-in-out;
}

.dwBtn:hover p {
  color: rgb(242, 242, 242);
}

.dwBtn:hover svg {
  fill: rgba(169, 232, 249, 0.877);
}



.blankDiv {
  max-width: 100%;
  max-height: 100%;
}



.ErrorPage {
  height: 100vh;
  width: 100vw;
  padding: 2%;
  background-color: var(--darkest);
  color: rgb(239, 227, 207);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.ErrorPage h2 {
  color: azure;
}


.Skills {
  display: flex;
  flex-direction: column;
  font-family: 'Anton', sans-serif;
  font-weight: 500;
  margin-top: 3.5rem;
}


.Working {
  height: 99vh;
  width: 99vw;
  background-color: rgb(12, 4, 32);

}

.LNavBar {
  height: inherit;
  width: 15%;
  position: fixed;
  left: 0;
  margin-left: 4px;
  background-color: #fed75a;
}

.bordL {
  border-left: 1px white;
  border-width: 1px;
}

.bordR {
  border-right: 1px white;
  border-width: 1px;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexcol {
  display: flex;
  flex-direction: column;
}

.jselfRight {
  justify-self: flex-end;
}

.justCenterItems{
  justify-items: center;
  align-items: center;
  text-align: center;
}



.prjs {
  width: 50vh;
  height: 50vh;
  border-radius: 5%;
  background-color: bisque;
  margin-left: 25%;
  margin-top: 25vh;
}

.RatingForm {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  aspect-ratio: 5/4;
  width: 45vh;
  border-radius: 5%;
  padding: 5vh;
  position: relative;
  align-self: center;
  margin-inline: 5%;
}


.CloseBTNWrapper {
  transition: 89ms ease-in-out;
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  margin-right: 10vw;
  margin-bottom: 10vh;
  max-width: 120px;
}

.CloseBTN {
  position: absolute;
  min-height: 60px;
  aspect-ratio: 1/1;
  height: 4vh;
  border-radius: 5%;
  background-color: white;
  z-index: 4831233;
}

#shape {
  will-change: none;
}
#test {
  height: 57px;
  width: 24px;
  -webkit-clip-path: url(#shape);
  clip-path: url(#shape);
  will-change: none;
}


#TecchCanvas {
  width: 100vw;
  height: 85vh;
}

#introCanvas {
  height: 100vh;
  width: 100vw;
}

.glass{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}


.input {
  background-color: var(--lightest);
  border-radius: 10px;
  border: 1px solid var(--dark);
  padding: 5px;
  font-family: 'Quattrocento Sans', sans-serif;
  margin-bottom: 5px;
}


.outlinedCircle {
  position: absolute;
  border-radius: 100%;
  border: 1px solid radial-gradient(circle, rgba(238,174,202,1) 10%, rgba(91,191,185,1) 62%,  rgba(200,200,255,1) 108%);
  z-index: 1;
  opacity: 1;
  aspect-ratio: 1/1;
  justify-content: center;
  max-height: max-content;
  padding: 2%;
}

@keyframes ring {
  0% {
    border: 2px solid radial-gradient(circle, rgba(238,174,202,1) 10%, rgba(91,191,185,1) 62%,  rgba(200,200,255,1) 108%);
  }
  50% {
    border: 2px solid radial-gradient(circle, rgba(200,200,255,1) 10%,  rgba(238,174,202,1) 62%,  rgba(91,191,185,1) 108%);
  }
  100% {
    border: 2px solid radial-gradient(circle, rgba(91,191,185,1) 10%,  rgba(200,200,255,1) 62%,  rgba(238,174,202,1) 108%);
  }
}

.outlinedCircle:hover {
  transition: 60ms ease-in-out;
  animation: ring 2s reverse linear ;
}




.popup {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 5%;
  margin: 5%;
  transition: 120ms ease-in-out;
  top: 0;
  left: 0;
}

.popup-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  z-index: 64;
  background-color: rgb(10, 30, 26);
  border-radius: 1rem;
  border:1px solid rgb(11, 7, 7);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  color: #ffffff;
  padding-inline: 2%;
  justify-self: center;
  align-self: center;
  margin-bottom: 5%;
}

.popupHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  padding-top: 4%;
}

.popupHeader button {
  height: 50px;
  aspect-ratio: 1/1;
  border-bottom-left-radius: 6rem;
  border-bottom-right-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 1rem;
  position: absolute;
  top: 0; right: 0;
  background-color: var(--dark);
  align-items: center;
}

.popupHeader button:hover {
  background-color: var(--light);
}

.scrollables {
  height: 30%;
  overflow-y: auto;
}

.scrollables p {
  font-family: 'Quattrocento Sans', sans-serif;
}

.popup_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  gap: 2%;
  height: 100px;
  width: 100%;
}

.popup_footer .leftChild {
  width: 60%;
  overflow-x: auto; 
  font-family: 'Quattrocento Sans', sans-serif;
  border-right-color: #ffffff;
  border-right-width: 2px;
  border-right-style: solid;
  justify-content: flex-start;
}

.popup_footer .rightChild {
  padding: 2%;
  right: 0;
  width: 40%;
  width: 150px;
  aspect-ratio: 1/1;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  align-content: center;
}

.percent {
  width: 150px;
  aspect-ratio: 1/1;
  align-items: center;
  justify-items: center;
  align-self: center;
}

.percent > svg {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}


.hidden {
  display: none;
}

.shown {
  display: flex;
}

.techstacksused {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#Intro ul {
  list-style-type: none;
  gap: 2%;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 5%;
}

#Intro li {
  color: #ffffff;
  margin-block: 6px;
  margin-inline: 4px;
  height: 20px;
  width: 50%;
  border: 2px solid #ffffff;
  border-radius: 5rem;
  padding-inline: 5%;
  padding-block: 2%;
}

#Intro a:hover {
  background-color: #ffffff;
  color: #000000;
  transition: 120ms ease-in-out;
  border-color: #77d5da;
}

#Intro a {
  color: #ffffff;
}

.drawer_container {
  width: 100%;
  height: 100%;
  background-color: rgba(67, 67, 67, 0.534);
  border-radius: 2rem 0rem 0rem 2em;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  box-shadow: #ffffff 0px 0px 10px 0px;
}

.drawer_body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  height: 50%;
  width: 100%;
  gap: 5%;
}

.drawer_btn {
  color: #ffffff;
  transition: 120ms ease-in-out;
  justify-self: flex-end;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  aspect-ratio: 1/1;
  height: 45px;
  padding-right: 5%;
  padding-top: 5%;
}

.drawer_btn svg {
  font-size: var(--font-d-medium);
  color: rgb(255, 255, 255);
}

.drawer_btn:hover {
  color: rgb(92, 189, 241);
}

.drawer_link {
  width: 99%;
  color: #ffffff;
  font-family: 'Quattrocento Sans', sans-serif;
  text-decoration: none;
  transition: 120ms ease-in-out;
  padding-block: 4%;
  text-align: center;
  filter: drop-shadow(0 0 0.75rem rgb(255, 250, 220));
}

.drawer_link:hover {
  color: rgb(92, 189, 241);
}


@media (pointer: fine), (pointer: none) {
	/* desktop */
  .dwBtn svg {font-size: var(--font-d-medium);}
  button{font-size: var(--font-d-small);}
  .App {font-size: var(--font-d-small);}
  .Navbar a {font-size: var(--font-d-small);}
  .loadingText  {font-size: var(--font-d-large);}
  .Hero p {font-size: var(--font-p-medium);}
  .title {font-size: var(--font-d-medium);}
  .description {font-size: var(--font-d-small); }
  .headText {font-size:var(--font-d-medium);}
  .dwBtn p {font-size:var(--font-d-small);}
  .ErrorPage {font-size:var(--font-d-large);}
  .ErrorPage h1 {font-size:var(--font-d-large);}
  .Skills {font-size: var(--font-d-medium);}
  .scrollables p {font-size: var(--font-d-small);}
  .popup_footer .leftChild {font-size: var(--font-d-small);}
  .drawer_link {font-size: var(--font-d-small);}
  #image {width: 50%;}
}

@media (pointer: fine) and (any-pointer: coarse) {
  .dwBtn svg {font-size: var(--font-d-medium);}
  button{font-size: var(--font-d-small);}
  .App {font-size: var(--font-d-small);}
  .Navbar a {font-size: var(--font-d-small);}
  .loadingText  {font-size: var(--font-d-large);}
  .Hero p {font-size: var(--font-p-medium);}
  .title {font-size: var(--font-d-large);}
  .description {font-size: var(--font-d-small);}
  .headText {font-size:var(--font-d-medium);}
  .dwBtn p {font-size:var(--font-d-small);}
  .ErrorPage {font-size:var(--font-d-large);}
  .ErrorPage h1 {font-size:var(--font-d-large);}
  .Skills {font-size: var(--font-d-medium);}
  .scrollables p {font-size: var(--font-d-small);}
  .popup_footer .leftChild {font-size: var(--font-d-small);}
  .drawer_link {font-size: var(--font-d-small);}
}

@media (pointer: coarse)  {
	/* mobile device */
  .SoLinkCol {
    position: fixed;
    left: 0;
    top: 40%;
    max-width: fit-content;
  }

  
  #CommentContainer {
    width: 100vw;
    overflow: hidden;
    overflow-x: scroll;
    margin-bottom: 2vh;
  } 

  .CloseBTNWrapper {
    right: 0;
    top: 0;
    margin-right: 20px;
    background-color: rgb(255, 255, 255);
  }

  .container {
    scroll-snap-type: both proximity;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: auto;
    height: 100vh;
    width: 100vw;
  }

  .panel {
    scroll-snap-align: none;
    
  }

  .dwBtn {
    padding: 3%;
    height: 800px;
    min-width: 400px;
  }

  .dwBtn svg {font-size: var(--font-p-medium);}

  button{font-size: var(--font-p-small);}
  .App {font-size: var(--font-p-small);}
  .Navbar a {font-size: var(--font-p-small);}
  .loadingText  {font-size: var(--font-p-large);}
  .Hero p {font-size: var(--font-p-medium);}
  .title {font-size: var(--font-p-medium);}
  .description {font-size: var(--font-p-normal); height: 40%; width: 50%; margin-inline: 2%;padding: 2%; }
  .headText {font-size:var(--font-p-large);}
  .dwBtn p {font-size:var(--font-p-medium);}
  .ErrorPage {font-size:var(--font-p-large);}
  .ErrorPage h1 {font-size:var(--font-p-large);}
  .Skills {font-size: var(--font-p-medium);}
  .scrollables p {font-size: var(--font-p-small);}
  .popup_footer .leftChild {font-size: var(--font-p-small);}
  .drawer_link {font-size: var(--font-p-medium);}
  #image {width: 80%;}
  .drawer_btn svg {font-size: var(--font-p-large);}

  .drawer_container {
    border-radius: 5rem 0rem 0rem 5rem;
  }

  .container {
    scroll-snap-type:none;
  }

  .panel {
    scroll-snap-align: none;
  }

  
}