@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Monoton&family=Quattrocento+Sans&display=swap');


/* font-family: 'Anton', sans-serif;
font-family: 'Bangers', cursive;
font-family: 'Monoton', cursive;
font-family: 'Quattrocento Sans', sans-serif; */

html,
body {
  margin: 0px;
  font-family: 'Quattrocento Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: auto;
  width: auto;
  background-color: whitesmoke;
  background: '#5C8374';

  overflow-x: hidden;
  overflow-y: hidden;
 
  --bg-image1: url('../../assets/Heropic.jpg');
  --bg-image2: url('../../assets/Heropic2.jpg');

  --darkest: #040D12;
  --dark: #183D3D;
  --light: #5C8374;
  --lightest: #93B1A6;
}


button {
  aspect-ratio: 85/45;
  height: 7vh;
  min-width: 45px;
  max-width: 85px;
  background-color: var(--light);
  border-radius: 6%;
  font-size: 2vh;
  transition: all 125ms ease-in-out;
  text-align: center;
  border: 0em rgba(255, 255, 255, 0);
  color: var(--lightest);
}

button:hover {
  scale: 110%;
  background-color: var(--lightest);
  color: var(--darkest);
  border: 2px solid rgb(48, 31, 31);
}



.App {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 100%;
  max-height: 10000vh;
  font-size: 2vh;
  font-family: 'Quattrocento Sans', sans-serif;
  background-color: rgb(5, 2, 21);
}

.container {
  height: 100vh;
	overflow-y: auto;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  transition: 40ms ease-in-out;
  scroll-behavior: smooth;
}

.container::-webkit-scrollbar {
  background-color: #6a6a6a00;
  color: #6a6a6a00;
}

.container::-webkit-scrollbar-track {
  background-color: '#183D3D';
}

.container::-webkit-scrollbar-thumb {
  background-color: #93B1A6;

}


.panel {
  scroll-snap-align: start;
  height: 100vh;
  padding-top: 8vh;
}


.Header {
  position: relative;
  width: 100%;
  max-width: fit-content;
  height: 10vh;
  display: inline-flex;
  flex-direction: row;
  justify-content: left;
  font-size: 2.5vh;
  font-family: 'Quattrocento Sans', sans-serif;
}

.HeaderLogo {
  margin: 5px;
  cursor: pointer;
  height: 110%;
  
}

.HeaderLogo:hover {
  scale: 1.2;
  transition: 120ms ease-in-out;
}

/* .icon:hover {
  scale: 1.02;
  transform: translateY(-5);
  transition: 120ms ease-in-out;
  animation-delay: 50ms;
} */

.Navbar{
  width: 100%;
  height: 8vh;
  display: inline-flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  position: sticky;
  top: 0;
  z-index: 12;
  background-color: var(--dark);
}

.Navbar a {
  color: var(--lightest);
  text-decoration: none;
  font-size: 2.1vh;
  font-family: 'Quattrocento Sans', sans-serif;
  transition: all 125ms ease-in-out;
}

.Navbar a:hover {
  transform: translate(-1px, -2px);
  color: aliceblue;
}

Canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.Hero {
  position: relative;
  width: 100vw;
  transition: all 1s ease-in-out;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
  color: #ffffff;
  overflow: hidden;
}

.Hero p {
  color: rgb(255, 255, 255);
  font: 3vw sans-serif;
}




.Contact {
  position: relative;
  height: 50%;
  width: 100%;
  padding-top: 5vh;
  display: flex;
  flex-direction: row;
  margin-inline: 3%;
}

#CommentContainer {
  position: relative;
  height: 80%;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-inline: 5vw;
}

.commentUI {
  position: relative;
  height: 20%;
  width: 70%;
  margin-inline-start: 5%;
  display: flex;
  flex-direction: column;
  background-color: rgb(185, 185, 185);
  padding: 5%;
  border-radius:  3% 2% 3% 2%;
}

.Footer {
  position: relative;

  bottom: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: rgb(13, 13, 13);
  color: azure;
  margin-bottom: 5vh;
}



.blankDiv {
  max-width: 100%;
  max-height: 100%;
}



.ErrorPage {
  height: 100vh;
  width: 100vw;
  padding: 2%;
  background-color: var(--darkest);
  color: rgb(239, 227, 207);
  font-size: larger;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ErrorPage h1 {
  font-size: 10vh;
}

.ErrorPage h2 {
  color: azure;
}

.Socials {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  flex-direction: row;
  position: absolute;
  right: 0; bottom: 10;
}

.Skills {
  display: flex;
  flex-direction: column;
  font-family: 'Anton', sans-serif;
  font-size: 20px;
  font-weight: 500;
}


.Socials svg {
  padding: 4px;
  fill: bisque;
}


.Socials svg:hover {
  scale: 1.1;
  background: #ececec4a;
  background-blend-mode: color-dodge;
  border-radius: 10%;
  transition: all 0.2 ease-in-out;
  fill:rgb(174, 184, 248)
}

.copyright {
  background-color: rgba(22, 28, 35, 0.668);
  color: rgb(169, 228, 219);
  width: 100%;
  text-align: center;
  align-self: baseline;
  position: absolute;
  bottom: 0;
}

.Working {
  height: 99vh;
  width: 99vw;
  background-color: rgb(12, 4, 32);

}

.LNavBar {
  height: inherit;
  width: 15%;
  position: fixed;
  left: 0;
  margin-left: 4px;
  background-color: #fed75a;
}

.bordL {
  border-left: 1px white;
  border-width: 1px;
}

.bordR {
  border-right: 1px white;
  border-width: 1px;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexcol {
  display: flex;
  flex-direction: column;
}

.jselfRight {
  justify-self: flex-end;
}



.prjs {
  width: 50vh;
  height: 50vh;
  border-radius: 5%;
  background-color: bisque;
  margin-left: 25%;
  margin-top: 25vh;
}

.RatingForm {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  aspect-ratio: 5/4;
  width: 45vh;
  border-radius: 5%;
  padding: 5vh;
  position: relative;
  align-self: center;
  margin-inline: 5%;
}

.footdesc {
  max-width: fit-content;
  margin-inline: 2vw;
}

.CloseBTNWrapper {
  transition: 89ms ease-in-out;
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  margin-right: 40vw;
  margin-bottom: -7vh;
  max-width: 120px;
}

.CloseBTN {
  position: absolute;

  min-height: 60px;
  aspect-ratio: 1/1;
  height: 4vh;
  border-radius: 5%;
  background-color: white;
  z-index: 4831233;
}

#shape {
  will-change: none;
}
#test {
  height: 57px;
  width: 24px;
  -webkit-clip-path: url(#shape);
  clip-path: url(#shape);
  will-change: none;
}

@media all and (aspect-ratio < 1/1) {
  .ContextOfhero {
    font-size: 4vw;
    left: 0;
    margin-top: 40vh;

  }



  .SoLinkCol {
    position: fixed;
    left: 0;
    top: 40%;
    max-width: fit-content;
  }

  
  #CommentContainer {
    width: 100vw;
    overflow: hidden;
    overflow-x: scroll;
    margin-bottom: 2vh;
  } 

  .CloseBTNWrapper {
    right: 0;
    top: 0;
    margin-right: 20px;
    background-color: rgb(255, 255, 255);
  }

}

#TecchCanvas {
  width: 100vw;
  height: 90%;

}

#introCanvas {
  height: 100vh;
  width: 100vw;
}

.cirlcle {
  border-radius: 100em;
  height: 25vw;
  aspect-ratio: 1/1;
  background-color: rgb(138, 209, 191);
  margin: 2em;
  background-size: cover;
}

.hrimg {
  background-image: var(--bg-image1);
  transition: 120ms ease-in-out;
  animation: bganimate 10s ;
}

.hrimg:hover {
  animation: none ;
}

@keyframes bganimate {
  0% {
    background-image: var(--bg-image1);
  }
  50% {
    background-image: var(--bg-image2);
  }
}

.glass{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.input {
  background-color: var(--lightest);
  border-radius: 10px;
  border: 1px solid var(--dark);
  padding: 5px;
  font-family: 'Quattrocento Sans', sans-serif;
  margin-bottom: 5px;
}


.Context {
  position: relative;
  align-items: center;
  justify-content: center;
  align-content: center;
  display: flex;
  background-color: var(--darkest);
}

.outlinedCircle {
  position: absolute;
  border-radius: 100%;
  border: 1px solid radial-gradient(circle, rgba(238,174,202,1) 10%, rgba(91,191,185,1) 62%,  rgba(200,200,255,1) 108%);
  z-index: 1;
  opacity: 1;
  aspect-ratio: 1/1;
  justify-content: center;
  max-height: max-content;
  padding: 2%;
}

@keyframes ring {
  0% {
    border: 2px solid radial-gradient(circle, rgba(238,174,202,1) 10%, rgba(91,191,185,1) 62%,  rgba(200,200,255,1) 108%);
  }
  50% {
    border: 2px solid radial-gradient(circle, rgba(200,200,255,1) 10%,  rgba(238,174,202,1) 62%,  rgba(91,191,185,1) 108%);
  }
  100% {
    border: 2px solid radial-gradient(circle, rgba(91,191,185,1) 10%,  rgba(200,200,255,1) 62%,  rgba(238,174,202,1) 108%);
  }
}

.outlinedCircle:hover {
  transition: 60ms ease-in-out;
  animation: ring 2s reverse linear ;
}



.item {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.carosol_Wrapper {
  height: 100%;
  width: 100%;
}

.popup {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 5%;
  margin: 5%;
  transition: 120ms ease-in-out;
  top: 0;
  left: 0;
}

.popup-container {
  position: relative;
  height: 40vh;
  width: 40vw;
  z-index: 64;
  background-color: rgb(10, 30, 26);
  border-radius: 1rem;
  border:1px solid rgb(11, 7, 7);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  color: #ffffff;
  padding-inline: 2%;
}

.popupHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  padding-top: 4%;
}

.popupHeader button {
  height: 50px;
  aspect-ratio: 1/1;
  border-bottom-left-radius: 6rem;
  border-bottom-right-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0rem;
  position: absolute;
  top: 0; right: 0;
  background-color: var(--dark);
  align-items: center;
}

.popupHeader button:hover {
  background-color: var(--light);
}

.scrollables {
  height: 30%;
  overflow-y: auto;
}

.scrollables p {
  font-size: 0.7rem;
  font-family: 'Quattrocento Sans', sans-serif;
}

.popup_footer {
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.popup_footer .leftChild {
  width: 60%;
  overflow-x: auto; 
  font-size: 0.8rem;
  font-family: 'Quattrocento Sans', sans-serif;
  border-right-color: #ffffff;
  border-right-width: 2px;
  justify-content: flex-start;
}

.popup_footer .rightChild {
  width: 40%;
  align-items: center;
  justify-content: center;
}

.percent {
  width: 60px;
  aspect-ratio: 1/1;
  align-items: center;
  justify-items: center;
}

.percent > svg {
  width: 60px;
}

circle {
  position: absolute;
  fill: none;
  stroke-width: 10;
  transform: translate(10px, 10px); /* This is to position it in the center */
  stroke-dasharray: 440;
  stroke-linecap: round;
}

.number {
  position: relative;
  align-self: center;
  color: #fff;
}

.hidden {
  display: none;
}

.techstacksused {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}